@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/GelionRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Gelion Bold.ttf') format('truetype');
}

html {
  font-family: 'Gelion' !important;
}

.v-application {
  font-family: 'Gelion' !important;
}
#app{
  font-family: 'Gelion' !important;

}
.v-btn__content {
  font-size: 14px;
}
