@font-face {
  font-family: "Gelion" !important;
  src: local("gelion"),
  url("/assets/gelion/GelionRegular.ttf") format("truetype");
}

html {
  font-family: "Gelion" !important;
}
/**{*/
/*  font-family: "Gelion" !important;*/

/*}*/
